# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment folders
MCPTESTvenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Environments
*.env
*.venv
.envrc
.env.*

# VS Code / PyCharm / other IDE stuff
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
